.feed{
    flex:5.5;
    display: flex;
    justify-content: center;

}


.feedWrapper{
    padding: 20px;
    min-width: 50%;
}

@media screen and (max-width: 600px){
    .feedWrapper {
        min-width: 90%;
    }
}